* {
    margin: 0;
    padding: 0;
}

body {
    background: gainsboro;
}

.container {
    max-width: 400px;
    border: 1px solid darkred;
    margin: 80px auto;
    border-radius: 5px;
    background: purple;
}

form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-control input[type="text"] {
    padding: 5px;
}

button {
    background: darkgreen;
    color: white;
    border: 0;
    padding: 5px;
    cursor: pointer;
    height: 30px;
}

.error {
    color: red;
    text-align: left;
}

.d-none {
    display: none;
}